body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: rgb(140, 252, 12);
}
.red{
    background-color: aqua;
}
.purple{
    background-color: blueviolet;
}
.green{
    background-color: brown;
}

.flash{
    background-color: white;
}